<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>상세보기</title>
    <th:block th:insert="fragments/common :: common" />
</head>
<body class="ui grid">
    <div class="ui container eleven wide column main-container" style="padding: 50px 0">
        <div th:replace="fragments/header :: header"></div>
        <h1>게시글 조회</h1>

        <div class="form-group">
            <label class="col-form-label" for="input-subject">제목</label>
            <input type="text" class="form-control" th:if="${boardDto.userEntity.email ne #authentication.principal.email}"
                       th:value="${boardDto.subject}" readonly>

            <input type="text" class="form-control" id="input-subject" th:if="${boardDto.userEntity.email eq #authentication.principal.email}"
                   th:value="${boardDto.subject}" maxlength="100">
        </div>

        <div class="form-group">
            <label class="col-form-label" for="input-id">글 번호</label>
            <input type="text" class="form-control" readonly id="input-id" th:value="${boardDto.id}">
        </div>

        <div class="form-group">
            <label class="col-form-label" for="input-author">작성자</label>
            <input type="text" class="form-control" id="input-author" th:value="${boardDto.userEntity.userName}" readonly>
        </div>

        <div class="form-group" th:if="${boardDto.userEntity.email ne #authentication.principal.email}">
            <label for="view-content">내용</label>
            <textarea class="form-control" id="view-content" th:text="${boardDto.contents}"></textarea>
        </div>
        <div class="form-group" th:if="${boardDto.userEntity.email eq #authentication.principal.email}">
            <label for="txt-content">내용</label>
            <textarea class="form-control" id="txt-content" th:text="${boardDto.contents}" placeholder="내용을 입력하세요." ></textarea>
        </div>

        <div align="right" style=" height: 50px; border-bottom:1px solid darkgray;">
            <a th:href="@{/boards}" class="ui button">목록</a>
            <a th:href="${'/boards/' + boardDto.id + '/reply'}" sec:authorize="isAuthenticated()" class="ui button">답글달기</a>
            <button class="btn btn-primary active" id="btn-update" th:if="${boardDto.userEntity.email eq #authentication.principal.email}">수정</button>
            <button class="btn btn-danger" id="btn-delete" th:if="${boardDto.userEntity.email eq #authentication.principal.email}">삭제</button>
        </div>
        <div class="form-group" style="padding-top: 30px;">
            <textarea class="form-control" id="txt-comment"></textarea>
        </div>
        <div class="col-md-12" id="commentList" style="padding-top: 60px;"></div>
        <div id="comment-dialog" style="width: 99%; display:none">
            <input type="hidden" id="hidden-board-id" th:value="${boardDto.id}">
            <input type="hidden" id="hidden-comment-id">
            <input type="hidden" id="hidden-reply-id">
            <input type="hidden" id="hidden-thread">
            <input type="hidden" id="hidden-depth">
            <textarea class="form-control" id="txt-reComment" placeholder="내용을 입력하세요."></textarea>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>