<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="common">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pilot</title>
        <script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.css}">
        <script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.js}"></script>
        <link th:rel="stylesheet" th:href="@{/webjars/Semantic-UI/2.4.1/semantic.min.css}">
        <script th:src="@{/webjars/Semantic-UI/2.4.1/semantic.min.js}"></script>
        <script th:src="@{/webjars/summernote/0.8.18/dist/summernote.js}"></script>
        <link th:rel="stylesheet" th:href="@{/webjars/summernote/0.8.18/dist/summernote.css}">
        <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.14.0/css/all.css}">
    </th:block>
</html>