<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>로그인 (Please sign in)</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}">
</head>
<body>
    <div class="container" style="width: 30%">
        <h2 class="form-signin-heading">Login</h2>
        <form action="/login" class="was-validated" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="form-group">
                <label for="username">E-mail :</label>
                <input type="text" class="form-control" id="username" placeholder="Enter email" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password :</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
            </div>
            <span th:text="${loginFailMsg}" style="color:red"></span>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/user/signup" ><button class="btn btn-dark" type="button">Sign Up</button></a>
        </form>
    </div>
</body>
</html>